body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  /* background: #000; */
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container .column {
  width: 25%;
  height: 100%;
  float: left;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 1;
}

.container .column .content {
  position: relative;
  height: 100%;
}

.container .column .content h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.2);
  font-size: 15em;
  border-top: 2px solid rgba(0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0.5);
}

.container .column .content .box {
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  box-sizing: border-box;
  padding: 40px;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  transition: 0.5s;
  opacity: 0;
}

.container .column.active .content .box {
  opacity: 1;
  transform: translateY(-50%);
}

.container .column .content .box h2 {
  margin-top: 0;
  padding: 0;
  font-size: 30px;
  color: #262626;
}

.container .column .content .box p {
  color: #262626;
  font-size: 18px;
}

.container .column .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.container .column.active .bg.bg2 {
  background: url(https://media4.giphy.com/media/3ov9jMu4gzKmXaIca4/giphy.gif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}

.container .column.active .bg.bg3 {
  background: url(https://nandalow.com/uploads/filedump/media/6kodokunogourmet.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}

.container .column.active .bg.bg4 {
  background: url(https://media1.giphy.com/media/3oz8xVUm3mOvsSRqUg/source.gif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}

.container .column.active .bg.bg1 {
  background: url(https://media0.giphy.com/media/STYwdGbkR4NeHukhhD/giphy.gif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}
